.businesses {
    background: #006e90 none no-repeat scroll 0 0;
}
.businesses--manufacturing {
    background: #f18f01 none no-repeat scroll 0 0;
}
.businesses--newYork {
    background: #99c24d none no-repeat scroll 0 0;
}
.agents {
    background: #adcad6 none no-repeat scroll 0 0;
}